.header
{
    background: none;
    height:10%;
    background-color: #ffebcd;
}

/* all products */

.row-2{

    justify-content: space-between;
    margin: 100px auto 50px;

}

select{
    border:1px solid #ff523b;
    padding :5px;
}

select:focus{
    outline: none;
}

/* single product */
    
.chair img
{
    width:400px;
    height:400px;
    object-fit: contain;
}

.single-product{
    margin-top: 80px;
   
}
.single-product .col2 img{
    padding: 0;
}

.single-product .col2{
    padding: 20px;
}

.single-product h4{
    margin:20px 0 ;
    font-size:20px ;
    font-weight:bold ;
}

.single-product input{
    width:50px ;
    height: 30px;
    padding-left:10px ;
    font-size:20px ;
    margin-right:10px ;
    border:1px solid #ff523b ;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/* payment gateway */

*
{
    margin: 0;
    padding: 0;
}

.app-container{
    height: 600px;
    width: 450px;
    background-image: linear-gradient(#b4d8cc7a,#929292);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.top-box{
    height: 150px;
    background-color: #b1fce37a;
    border: 2px solid #FEC8D8;
    
    
}
.top-box p{
    text-align: center;
    padding-top: 20px;
    color:#565656
}
.left-icon{
    float: left;
    margin-left: 30px;
}
.right-icon{
    float: left;
    margin-left: 30px;
}

.img-url
{
    display: none;
}

/* menu icon for responsive */
.menu-icon{
    width:28px;
    margin-right: 20px;
    display: none;
}

@media only screen and (max-width:800px)
{
    .menu-icon{
        display: block;
        cursor: pointer;
    }
} 

/* responsive for mobile */
@media only screen and (max-width:600px)
{
    .main-row{
        text-align:center;
    }

    .col1 , .col2 , .col3{
        flex-basis: 100%;
    }
}