<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Design Affairs-Our Home To Yours</title>

    <!-- The next two links are for the font being used -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">

    <!-- Icons used -->
    <script src="https://kit.fontawesome.com/2d9b67a497.js" crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS file links -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="../css/homepage_responsive.css">
    <link rel="stylesheet" href="../css/account.css">
    <link rel="stylesheet" href="../css/acc_responsive.css">
    <link rel="stylesheet" href="../css/about.css">
</head>

<body>
        <section id="aboutus">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <h1 class="text-center">About Us</h1>
                        <p>Designaffairs is a strategic design consultancy with the brains, hands, hearts and guts to
                            rock
                            the future.It combines high-level understanding of the interconnectivity of modern life
                            with traditional design craftsmanship.Letting our minds and hearts run free, we deeply
                            immerse into the analog and digital universes to match the best of both worlds and
                            create purposeful new experiences.We are a genial bunch of people with different expertise
                            and
                            multi-cultural backgrounds,
                            and one thing in common: we won’t stop until we have completed our mission.Your space will
                            be
                            beautiful, that is a certain, and we will also ensure it flows well and functions
                            efficiently.
                            We are thinkers, but also doers. We are rational, yet emotional. We act from the gut – based
                            on
                            years of solid training. We love what we do and we look after each other. If this sounds
                            like
                            you, try us!
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <div class="img-wrap">
                            <img src="../images/teamwork2.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../js/account.js"></script>
    <script src="../js/product.js"></script>
</body>

</html>